logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Security
.env
.env.local
.env.*.local
! .env.example

# Test Reports
playwright-report/
test-results/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build Artifacts
stats.html
*.js.map
*.d.ts.map

# SBOM
*.sbom.json
*.sbom.xml
